# =========================================================================
# CHANGE ORDER RUNTIME PIPELINE TEMPLATE ENVIRONMENT REFERENCE SHEET
# =========================================================================

# Complete path targeting data payload source (.xls, .xlsx, .json)
DATA_FILE=
# Master root target folder directory to drop compiled assets
OUTPUT_DIR=
# Type of change order processed (e.g REAL or PP)
PROPERTY_TYPE=
